.Nav-header {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
@media #{$large-and-up} {
  .Nav-header {
    width: 70%;
  }
}

.Generation-controls {
  margin-bottom: 24px;
}

.Collapsible-bleed {
  .collapsible-body {
    padding: 0;
  }
}

.Text--debug {
  padding: 5px;
  color: #000 !important;
  border: 1px dashed #000 !important;
  background-color: #FC0 !important;
  white-space: pre-line !important;
}

// JSON Editor overrides
.jsoneditor {
  border-color: $secondary-color !important;
}

.jsoneditor-tree {
  min-height: 300px;
}

.jsoneditor-menu {
  background-color: $secondary-color !important;
  border-bottom-color: $secondary-color !important;
}

@media only screen and (max-width: 500px) {
  .brand-logo {
    font-size: $navbar-brand-font-size * 0.75 !important;
  }
}

@media only screen and (max-width: 360px) {
  .brand-logo {
    font-size: $navbar-brand-font-size * 0.65 !important;
  }
}