<h2>Messages</h2>


<div class="Generation-controls">
    <div class="row">
        <div class="input-field col s6">
            {{input id="num_rows" pattern="\d*" type="number" value=numRows min="1"}}
            <label for="num_rows" class="active">Rows</label>
        </div>
    </div>

    <button type="button" class="waves-effect waves-light btn" onclick={{action 'generateLocations'}}>Regenerate</button>
</div>

<div class="card-panel">
    <table class="striped centered">
        <tbody>
            {{#each itemRows as |row|}}
                <tr>
                    {{#each row as |value|}}
                        <td>{{value}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{#materialize/m-collapsible 
    icon='mode_edit'
    title="Edit Grammar JSON"
}}
    {{json-editor json=grammarConfig onChange=(action (mut grammarConfig))}}
{{/materialize/m-collapsible}}
